In [2]:
# set up a cronjon to run this script every minute during a certain time

# crontab job:
# 0 * * * * cd /Users/kadrilenk/Documents/Projektid/public_transport && /anaconda3/bin/python3 gps.py >> cron_log.txt 2>&1
# * 4-23 13 5 * cd /Users/kadrilenk/Documents/Projektid/public_transport && /anaconda3/bin/python3 gps.py >> cron_log.txt 2>&1
# * 0-1 14 5 * cd /Users/kadrilenk/Documents/Projektid/public_transport && /anaconda3/bin/python3 gps.py >> cron_log.txt 2>&1

# crontab -e to start
# press esc.
# press i (for "insert") to begin editing the file.
# paste the cron command in the file.
# press esc again to exit editing mode.
# type :wq to save ( w - write) and exit ( q - quit) the file.
# crontab -l to see the scheduled jobs

In [3]:
import urllib
import time
import datetime
import pandas as pd

First I get the current timestamp.

In [4]:
timestamp = datetime.datetime.fromtimestamp(time.time()).strftime('%Y-%m-%d %H:%M:%S')

Then I pull the data from the url and save it into a temp_data.txt file.

In [5]:
urllib.request.urlretrieve('https://transport.tallinn.ee/gps.txt', 'temp_data.txt')

('temp_data.txt', <http.client.HTTPMessage at 0x11bb64d68>)

After that open the txt file and read it as a dataframe. I also add a column with the current timestamp.

In [6]:
data = pd.read_csv('temp_data.txt',
                   names = ["transport", "route", "long", "lat", "empty", "direction", "id"],
                   index_col=0)
data['timestamp'] = timestamp

Just in case I create a log file with all the data pulls.

In [7]:
with open('python_log.txt', 'a') as f:
    f.write(str(len(data)) +' rows written to data.csv at '+ str(timestamp) + str('\r\n'))

And last but not least, I append the pulled data into one csv.

In [8]:
with open('data.csv', 'a') as f:
    data.to_csv(f, header=False)

In [9]:
data.head()

,route,long,lat,empty,direction,id,timestamp
transport,,,,,,,
3,2,24760450,59434780,NaN,179,97,2019-05-17 19:04:34
3,3,24742680,59427730,NaN,191,98,2019-05-17 19:04:34
3,2,24673350,59458940,NaN,309,102,2019-05-17 19:04:34
3,1,24753220,59440960,NaN,344,109,2019-05-17 19:04:34
3,1,24675990,59457700,NaN,137,110,2019-05-17 19:04:34